@model PB2B.Models.MARKAMODELClass

@{
    ViewBag.Title = "Stoklar";
    Layout = ViewBag.MasterGenel;//"~/Views/Shared/LTEMASTER.cshtml";
}

<h2>Stoklar</h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        Ürün Arama Ekranı
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3">
                <label></label>
                <input type="text" name="searchparams" placeholder="Ürün Adı,Kodu,Özel Kodlar" id="TXTSearch" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label>Marka</label>
                <select id="CMBMarka" class="form-control">
                    @foreach (var item in Model.markalars)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col-lg-3">
                <label>Grup</label>
                <select id="CMBModel" class="form-control">
                    @foreach (var item in Model.modellers)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-primary" onclick="UrunGetir()">
                    Ara
                </button>
            </div>
        </div>
        <div id="LBLProgress" class="col-lg-12 text-center" style="display:none;font-size:15pt;background:#AB1313;color:#fff;">Yükleniyor...</div>
        <div id="partialTable">

        </div>
        <script>
          function UrunGetir() {
              var searchParam = $("#TXTSearch").val();
              var CMBMARKA = $('#CMBMarka').val();
              var CMBModel = $('#CMBModel').val();
             // alert(CMBMARKA);
              var url = "@Url.Action("StokListPartial","Genel")";
              $("#LBLProgress").show();
              $("#partialTable").load(url + "?searchParams=" + searchParam + "&marka=" + CMBMARKA + "&modell=" + CMBModel + "", function () {
                  $("#LBLProgress").hide();
              });
          }
        </script>
    </div>
</div>