@model IEnumerable<PB2B.Entity.A_MNTL_STOK_2018>
@{
    ViewBag.Title = "SiparisVer";
    Layout = "~/Views/Shared/LTEMusteriMaster.cshtml";
}

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Ürün Arama Ekranı
        </div>
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-lg-3" style="padding:0px;">
                        <div class="search-box" style="width:100%;">
                            <div class="input-group">
                                <span class="input-group-addon" style="background-color:#ab1313; color:white;">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input class="sb-search-input" name="searchParam" placeholder="Ürün Adı/Kodu...." />
                            </div>
                            
                            <label class="input__label" for="input-31">
                                <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                    <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                </svg>
                            </label>

                        </div>
                    </div>
                    <div class="col-lg-1" style="margin-top:10px;">
                        
                        <input id="Ara" class="btn btn-danger" type="submit" style="width:100%;" value="Ara" />
                    </div>
                    <br>
                    <div class="col-lg-2"><input type="checkbox" name="stokOlan"> Tükenmişleri Gizle</div>
                </div>
            }

            <table id="tblUrunler" class="table table-hover table-responsive">
                <thead>
                    <tr style="background-color:#AB1313;">
                        <th><font color="white">Ürün Kodu</font></th>
                        <th><font color="white">Açıklama</font></th>
                        <th><font color="white">Marka</font></th>
                        <th><font color="white">Model</font></th>
                        <th><font color="white">Stok</font></th>
                        <th><font color="white">Liste Fiyati</font></th>
                        <th><font color="white">Sepet</font></th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.URUNKODU</td>
                                <td>@item.URUNADI</td>
                                <td>@item.MARKA</td>
                                <td>@item.MODEL</td>
                               <td class="text-right">@baglanti.getStokSTR(item.BAKIYE)</td>
                                <td>@Convert.ToDecimal(item.ListeFiyati).ToString("N")</td>
                                <td>
                                    <button type="button" onclick="poppupAc(@item.LOGICALREF)" class="btn btn-primary " data-toggle="modal" data-target="#myModal">
                                        +
                                    </button>
                                </td>

                            </tr>

                        }
                    }
                </tbody>
            </table>

            <script>
                window.onload = new function () {
                    makeDataTable("tblUrunler");
                }

            </script>

        </div>
    </div>



    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:#E80405;">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-title" style="text-align:center;">
                        <img src="~/web/images/logo.jpg" width="150">
                    </div>
                </div>
                <div class="modal-body" id="partialContent">

                </div>
                <div id="yanip-sonen" class="modal-footer" style="background-color:#E80405;color:#fff;text-align:left;">
                    (Fiyatarımıza KDV Dahildir).
                </div>
            </div>

        </div>
    </div>
    <script>
        function poppupAc(itemref) {
            var url = '@Url.Action("SiparisURunGec","Siparis")';
            $("#partialContent").load(url + "?itemref=" + itemref);
        }
    </script>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                if ($("#yanip-sonen").css("background-color") == "#E80405") {
                    $("#yanip-sonen").css("background-color", "#ffff");
                    //veya $("#yanip-sonen").attr("style","visibility:hidden");
                }
                else {
                    $("#yanip-sonen").css("background-color", "#E80405");
                    //veya $("#yanip-sonen").attr("style","visibility:visible");
                }
            }, 1500); //700 milisaniyede bir yanıp sönecek
        });
    </script>
</div>

