@model PB2B.Entity.JSrG_GenelCari_006_04


@{
    Layout = null;
}
<style>
    .yazi {
        font-size: 10pt;
    }
</style>
<a href="#">
    <div class="col-md-3 ">
        <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
            <i class="pull-left fa fa-bullhorn icon-rounded" style="background-color:darkred;"></i>
            <div class="stats">
                <h5><strong class="text-white yazi">@Model.Plasiyer</strong></h5>
                <span class="text-white">Müşteri Temsilciniz</span>
            </div>
        </div>
    </div>
</a>
<a href="@Url.Action("CariExtre","Musteri")">
    <div class="col-md-3">
        <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white; ">
            <i class="pull-left fa fa-turkish-lira icon-rounded" style="background-color:darkred;"></i>
            <div class="stats">
                <h5><strong class="text-white yazi">@Convert.ToDecimal(Model.Bakiye).ToString("N") TL</strong></h5>
                <span class="text-white">Toplam Bakiye</span>
            </div>
        </div>
    </div>
</a>
<a href="@Url.Action("CekSenetlerim","Musteri")">
    <div class="col-md-3 ">
        <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
            <i class="pull-left fa fa-calendar icon-rounded" style="background-color:darkred;"></i>
            <div class="stats">
                <h5><strong class="text-white yazi">@Convert.ToDecimal(Model.ACIKRISK).ToString("N") TL</strong></h5>
                <span class="text-white">Açık Çek/Senet</span>
            </div>
        </div>
    </div>
</a>
<a href="#">
    <div class="col-md-3 ">
        <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
            <i class="pull-left fa fa-warning icon-rounded" style="background-color:darkred;"></i>
            <div class="stats">
                @{var risk = (Model.Bakiye + Model.ACIKRISK);}
                <h5><strong class="text-white yazi">@Convert.ToDecimal(risk).ToString("N")</strong></h5>
                <span class="text-white">Risk</span>
            </div>
        </div>
    </div>
</a>

<br /><br /> @*Alt Divler*@

<a href="#">
    <div class="col-md-3 ">
        <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
            <i class="pull-left fa fa-bell icon-rounded" style="background-color:darkred;"></i>
            <div class="stats">
                <h5><strong class="text-white yazi">@Convert.ToDecimal(Model.ONCEKIBAKIYE).ToString("N")</strong></h5>
                <span class="text-white">Önceki Bakiye</span>
            </div>
        </div>
    </div>
</a>
<a href="@Url.Action("Faturalarim","Musteri")">
    <div class="col-md-3 ">
        <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
            <i class="pull-left fa fa-briefcase icon-rounded" style="background-color:darkred;"></i>
            <div class="stats">
                <h5><strong class="text-white yazi">@Convert.ToDecimal(Model.CIKISLAR).ToString("N") TL</strong></h5>
                <span class="text-white">Çıkışlar</span>
            </div>
        </div>
    </div>
</a>
<a href="#">
    <div class="col-md-3 ">
        <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
            <i class="pull-left fa fa-bullseye icon-rounded" style="background-color:darkred;"></i>
            <div class="stats">
                <h5><strong class="text-white yazi">@Convert.ToDecimal(Model.GIRISLER).ToString("N") TL</strong></h5>
                <span class="text-white">Girişler</span>
            </div>
        </div>
    </div>
</a>
<a href="#">
    <div class="col-md-3 ">
        <div class="r3_counter_box" style="background-color:red; border-bottom:solid 2px white; border-top:solid 2px white; border-left:solid 2px white; border-right:solid 2px white;">
            <i class="pull-left fa fa-star icon-rounded" style="background-color:darkred;"></i>
            <div class="stats">
                <h5><strong class="text-white yazi">@Convert.ToDecimal(Model.YILLIKSATISTUTARI).ToString("N") TL</strong></h5>
                <span class="text-white">Satış Toplamı</span>
            </div>
        </div>
    </div>
</a>

