@model PB2B.Entity.IND_COND

@{
    ViewBag.Title = "CreateGrupIndirim";
    Layout = "~/Views/Shared/LTEAdminMaster.cshtml";
}

@{

    PB2B.Entity.LKSDBEntities1 lDb = new PB2B.Entity.LKSDBEntities1();
    PB2B.Models.MARKAMODELClass viewModel = new PB2B.Models.MARKAMODELClass()
    {
        markalars = lDb.A_MNTL_STOK_2018.GroupBy(x => x.MARKA).OrderBy(x => x.Key).Select(x => x.Key).ToList(),
        modellers = lDb.A_MNTL_STOK_2018.GroupBy(x => x.MODEL).OrderBy(x => x.Key).Select(x => x.Key).ToList()
    };

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <div class="panel panel-primary">
            <div class="panel-heading">
                CreateGrupIndirim
            </div>
            <div class="panel-body ">
                <div style="text-align:left;">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Açıklama">Açıklama</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Sart1">Şart1(GrupKod)</label>
                        <div class="col-md-4">
                            <select name="COND1" class="form-control">
                                @foreach (var item in viewModel.markalars)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Sart2">Şart2(Özelkod)</label>
                        <div class="col-md-4">
                            <select name="COND2" class="form-control">
                                @foreach (var item in viewModel.markalars)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Sart3">ŞArt3(Atanmadı)</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.COND3, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.COND3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="YukOran">Liste Fiyatı</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.ORAN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ORAN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="İndOran">Ürün İndirimi</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.INDORAN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.INDORAN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="TabanOran">Taban Satış Oranı</label>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.ALTORAN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ALTORAN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Kaydet" style="background-color:red; color:white;" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
