@model IEnumerable<PB2B.Entity.JSRG_CEK_SENET_DURUM>

@{
    ViewBag.Title = "CekSenetLine";
    Layout = "~/Views/Shared/LTEMASTER.cshtml";
}



<div class="panel panel-primary">
    <div class="panel-heading">
        @Session["SATICI"].ToString()  Çek Senetleri
    </div>
    <div class="panel-body">
        <table class="table ">
            <tr>
                <th>
                   Tarih
                </th>
                <th>
                    SeriNo
                </th>
                <th>
                    Bankası
                </th>
                <th>
                    Vadesi
                </th>
                <th>
                    Tutar
                </th>
                <th>
                    Magaza
                </th>
                <th>
                    CariAdı
                </th>
                <th>
                    Plasiyer
                </th>
               
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Convert.ToDateTime(item.TARIH).ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NEWSERINO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BANKASI)
                    </td>
                    <td>
                        @Convert.ToDateTime(item.VADE).ToString("dd.MM.yyyy")
                    </td>
                    <td>
                        @Convert.ToDecimal(item.TUTAR).ToString("N") TL
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MAGAZA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CARI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plasiyer)
                    </td>
                   
                </tr>
            }

        </table>
    </div>
</div>


