@model IEnumerable<PB2B.Entity.ISRG_Faturalar_006>

@{
    ViewBag.Title = "Faturalar";
    Layout = "~/Views/Shared/LTEMASTER.cshtml";
}

<h2>Faturalar</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        Faturalarim
    </div>
    <div class="panel-body ">
        <div class="col-md-12">
            <table class="table">
                <tr style="background-color:red;">

                    <th>
                        <font color="white"> Fatura No</font>
                    </th>
                    <th>
                        <font color="white"> Tarih</font>
                    </th>
                    <th>
                        <font color="white"> Net Toplam</font>
                    </th>
                    <th>
                        <font color="white">   Tip</font>
                    </th>
                    <th>
                        <font color="white"> Masraf</font>
                    </th>
                    <th>
                        <font color="white">  İndirim</font>
                    </th>
                    <th>
                        <font color="white">  Yekün</font>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr onclick="window.location.href='/Plasiyer/FaturaDetay/@item.FICHENO'">

                        <td>
                            @Html.DisplayFor(modelItem => item.FICHENO)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DATE_).ToString("dd/MM/yyyy")
                        </td>
                        <td style="text-align:right;">
                            @Convert.ToDecimal(item.NETTOTAL).ToString("N")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.drmX)
                        </td>
                        <td style="text-align:right;">
                            @Convert.ToDecimal(item.MASRAF).ToString("N")
                        </td>
                        <td style="text-align:right;">
                            @Convert.ToDecimal(item.INDIRIM).ToString("N")
                        </td>
                        <td style="text-align:right;">
                            @Convert.ToDecimal(item.YEKUN).ToString("N")
                        </td>

                    </tr>
                }

            </table>
        </div>
    </div>
</div>
