@model IEnumerable<PB2B.Entity.C_INT_CARIONEKRAN_006>


@{
    ViewBag.Title = "PlasiyerIndex";
    Layout = "~/Views/Shared/LTEMASTER.cshtml";
}



<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Cari Arama Ekranı
        </div>
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-lg-3" style="padding:0px;">
                        <div class="search-box" style="width:100%;">

                            <input class="sb-search-input" name="searchParam" placeholder="Cari Listesinde Ara..." type="search" />
                            <label class="input__label" for="input-31">
                                <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                    <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                </svg>
                            </label>

                        </div>
                    </div>
                    <div class="col-lg-1">
                        <input id="Ara" class="btn btn-danger" type="submit" style="width:100%;margin-top:10px;" value="Ara" />
                    </div>
                   
                    <br />
                    <div class="col-lg-2"><input type="checkbox" name="isSepet"> Sepette Ürün Olanlar</div>
                    <div class="col-lg-2"><input type="checkbox" name="isBakiyeli"> Bakiyeli Cariler</div>
                </div>
            }

            <table class="table table-hover">
                <thead>
                    <tr style="background-color:#AB1313;">
                        <th><font color="white">Cari Kodu</font></th>
                        <th><font color="white">Cari Adı</font></th>
                        <th><font color="white">İl</font></th>
                        <th><font color="white">Adres</font></th>
                        <th><font color="white">Bakiye</font></th>
                        <th><font color="white">Risk Limiti</font></th>
                        <th><font color="white">Sepet</font></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr onclick="yonlendir(@item.LOGREF)">
                            <td>@item.KODU</td>
                            <td>@item.Firma_Bilgisi</td>
                            <td>@item.Ilce</td>
                            <td>@item.Sehir</td>
                            <td style="text-align:right;">@Convert.ToDecimal(item.Bakiye).ToString("N")</td>
                            <td>@item.RiskLimiti</td>
                            <td>0</td>
                        </tr>

                    }

                </tbody>
            </table>



            <script>
                function yonlendir(id) {
                    window.location.href = "PlasiyerYonlendir/" + id;
                }
            </script>
        </div>
    </div>
    <br /><br />
  
</div>

